.recipeCarousel {
  margin-bottom: 16px;
  
  .recipeCarouselHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  
    a {
      display: inline-flex;
      align-items: center;
      gap: 4px;
      color: #3B9B8A;
      text-decoration: none;
    }
  }
}

.menuPlan {
  background-color: #fff;
  border-radius: 16px;
  padding-block-end: 10px;

  .menuPlanHeader {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-block-end: 8px;
    padding: 10px;
    
    & a {
      color: #3B9B8A;
      text-decoration: none;
    }
  }

  & .planDetails {
    display: flex;
    font-size: 12px;
    gap: 4px;
    text-align: center;
    padding-inline-start: 10px;
    padding-block-end: 10px;

    & .planDay {
      div {
        align-items: center;
        background-color: #eee;
        border: 1px solid #7f7f7f;
        border-radius: 20px;
        display: flex;
        height: 60px;
        justify-content: center;
        padding: 0 2px;
      }

      div.active {
        background-color: #E8F5F3;
        border: 1px solid #3B9B8A;
        color: #3B9B8A;
      }
    }

    .emptyDay {
      div {
        opacity: 0.4;
      }

      svg {
        stroke-width: 1;
      }
    }
  }
}

.addRecipe {
    position: fixed;
    inset-block-end: 75px;
    inset-inline-end: 20px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}